mixin small-project(imgsrc, alt, title, subtitle)

    .small-project(href="" + href)
        .small-project-img-wrapper
            img(src="img/portfolio/" + imgsrc, alt="" + alt)
            .project-small-hover
                a.project-small-button(href="#") Смотреть проект
        a.small-project-title(href="#")= title
        h4.small-project-subtitle= subtitle