extends ../layouts/layout.pug

block variables
    -var title = 'Портфолио'


block content
    include ../sections/_header.pug
    include ../sections/_portfolio.pug
    include ../sections/_work-plan.pug
