footer.footer
    .container
        .footer-title
            span 2020
            span Дмитрий Вишневский
        .footer-anotation
            p Веб-разработик из Санкт-Петербурга, занимаюсь версткой и созданием сайтов. 
            p Этот сайт сделал в рамках прохождения обучения по верстке на курсах от <a href="#">WebCademy.ru</a>