.social
    a.social__item(href="https://github.com/polovinchik" target="_blank")
        img(src="img/svg/social/github.svg", alt="git")
    a.social__item(href="#")
        img(src="img/svg/social/tg.svg", alt="tg")
    a.social__item(href="https://vk.com/polovinchiklol" target="_blank")
        img(src="img/svg/social/vk.svg", alt="vk")
    a.social__item(href="#")
        img(src="img/svg/social/fb.svg", alt="fb")