section.work-plan
    .container
        .title-medium
            span.underline-title Как 
            span.underline-title я 
            span.underline-title работаю
        .work-plan-cards
            +work-plan-card("icon1.svg", "Оцениваю макет", "Оцениваю объем работы, сложность, нюансы. Задаю вопросы.","Время: 2 - 4 часа")
            +work-plan-card("icon2.svg", "ТЗ, смета и график работ", "Согласовываем техническое задание и график работ по проекту. Осмечиваю стоимость по этапам работы.","Время: 2 - 4 часа")
            +work-plan-card("icon3.svg", "Вы держите руку на пульсе", "Выдаю клиенту доступ к GitHub репозиторию и доске Trello. Вы в любое время можете видеть актуальное состояние проекта и задач.","Время: 2 - 4 часа")
            +work-plan-card("icon4.svg", "Выполняю каждый этап", "Поочередно выполняю каждый этап работы. Передаю результаты. Заказчик производит поэтапную оплату.","Время: 2 - 4 часа")
            +work-plan-card("icon5.svg", "Финальное ревью проекта", "Проект готов. Финальное ревью и полировка до идеального состояния. Передаю файлы проекта, заливаю сайт на хостинг заказчика.","Время: 2 - 4 часа")